@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



.all {
    width: 100%;
    min-height: 100vh;
    padding: 120px 150px;

    .header {
        display: flex;
        margin-bottom: 40px;

        h1,
        h2 {
            margin-right: 8px;
            color: #000;
            font-family: Poppins;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 1.28px;
        }

        h2 {
            border-bottom: 4px solid var(--Primary, #FF902B);
            border-radius: 1.5px;
        }
    }

    ul {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 40px;
        width: 100%;
        li {
            height: 385px;
            fill: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.70) 100%);
            backdrop-filter: blur(2px);

            display: flex;
            flex-direction: column;
            align-items: center;

            .rating-div {
                position: absolute;
                top: 35px;
                left: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70.197px;
                height: 34px;
                border-radius: 27px;
                background: var(--glass, linear-gradient(180deg, rgba(255, 255, 255, 0.70) 0%, rgba(255, 255, 255, 0.40) 100%));
                backdrop-filter: blur(2px);

                .rating-div-2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 63px;
                    height: 26px;
                    border-radius: 50px;
                    background: #FFF;

                    h3 {
                        margin-right: 4px;
                        color: var(--Secondary, #2F2105);
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.56px;
                    }

                    img {
                        width: 14px;
                        height: 14px;
                    }
                }

            }

            .li-main-img {
                margin-top: 25px;
                border-radius: 17px;
            }

            .li-text {
                margin: 19px 36px 25px 36px;
                display: flex;

                .left {
                    margin-right: 70px;

                    h1 {
                        color: var(--Secondary, #2F2105);
                        font-family: Poppins;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: 0.96px;
                    }

                    p {
                        color: var(--light, #7E7D7A);
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: 0.56px;
                    }
                }

                .right {
                    h2 {
                        color: var(--Secondary, #2F2105);
                        text-align: center;
                        font-family: Poppins;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.96px;
                    }
                }
            }
        }

        li:nth-child(3) {
            .li-text {
                .left {
                    margin-right: 22px;

                }
            }
        }

        li:nth-child(6) {
            .li-text {
                .left {
                    margin-right: 22px;
                }
            }
        }

        // &:nth-child(3){
        //     .li-text{
        //         .left{
        //             background-color: #FF902B;
        //             margin-right: 22px;
        //         }
        //     }
        // }
    }
}