@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.container {
  width: 100%;
}
.container .container-1 {
  min-height: 100vh;
  background: #f6ebda;
}
.container .container-1 nav {
  padding: 50px 130px;
  display: flex;
  align-items: center;
  position: fixed;
}
.container .container-1 nav svg {
  margin-right: 269px;
}
.container .container-1 nav ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.container .container-1 nav ul li {
  list-style-type: none;
}
.container .container-1 nav ul li a {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .container-1 nav ul li a:hover {
  color: #f4ae26;
}
.container .container-1 main {
  padding: 100px 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .container-1 main .coffee-img {
  width: 526.706px;
  height: 416px;
}
.container .container-1 main section {
  margin-top: 145px;
  display: flex;
  flex-direction: column;
}
.container .container-1 main section h1 {
  /* width: 40%; */
  color: var(--Secondary, #2f2105);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .container-1 main section h1 span {
  color: #ff902b;
}
.container .container-1 main section p {
  margin-top: 24px;
  /* width: 30%; */
  color: var(--light, #7e7d7a);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .container-1 main section .btns {
  display: flex;
  margin-top: 32px;
  /* // justify-content: space-between;
  // align-items: center; */
}
.container .container-1 main section .btns .order-btn {
  padding: 12px 32px;
  border-radius: 33px;
  background: var(--Secondary, #2f2105);
  box-shadow: 0px 4px 32px 0px rgba(223, 195, 124, 0.25);
  display: flex;
  align-items: center;
  gap: 15px;
  color: #2f2105;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.container .container-1 main section .btns .menu-btn {
  border-radius: 33px;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  color: #f4ae26;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.container .container-2 {
  position: relative;
}
.container .container-2 footer {
  padding: 367px 135px 238px 135px;
}
.container .container-2 footer img {
  margin-bottom: 48px;
}
.container .container-2 footer h1 {
  margin-bottom: 48px;
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.28px;
}
.container .container-2 footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.container .container-2 footer ul li {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .container-2 .center-ul {
  width: 70%;
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
}
.container .container-2 .center-ul ul {
  display: flex;
  justify-content: space-between;
  gap: 12%;
}
.container .container-2 .center-ul ul li {
  width: 25%;
}
.container .container-2 .center-ul ul li img {
  width: 100%;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.container .container-2 .center-ul ul li .info-coffee {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
}